<launch>

  <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
  <node name="kobuki_safe_joy" pkg="kobuki_joy" type="kobuki_safe_joy.py" output="screen" />
  <include file="/home/eduardo/ws/kobuki/src/kobuki_desktop/kobuki_gazebo/launch/kobuki_empty_world.launch" />
  <include file="/home/eduardo/ws/kobuki/src/kobuki_desktop/kobuki_rviz_launchers/launch/view_robot.launch" />
  <include file="/home/eduardo/ws/kobuki/src/kobuki_navigation/launch/start.launch" />
  <include file="/home/eduardo/ws/kobuki/src/kobuki_navigation/launch/kobuki_slam.launch" />
  <!--include file="/home/eduardo/ws/kobuki/src/kobuki/kobuki_keyop/launch/safe_keyop.launch" hols /-->

</launch>
